body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    background-color: #ffffff;
}
h1{
    color: #000000;
}
.input-label{
    font-size: 30px; 
    padding: 1rem;
    margin: auto;  
}
input{
    font-size: 20px;
    display: block;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem;
    border: 3px solid #686765;
    outline: #888784;
    border-radius: 1rem;
}
#submit{
    font-size: 25px;
    background-color: #8d8c8a;
    color: rgb(243, 241, 241);
    border-radius: 1rem;
    outline: #7c7b7a;
    border: 2px solid  #7c7b78;
    padding: 1rem;
}
#show-output{
    color: #f0ede9;
    font-size: 30px;
}